.paginatorEl {
  text-align: center;
  width: 45px;
  line-height: 42px;
  height: 45px;
  border: 1px solid #fe5f1e;
  border-radius: 30px;
  margin-right: 10px;
  cursor: pointer;
  display: inline-block;
  color: #fe5f1e;
  background-color: #fff;
  &:hover {
    background-color: #fe5f1e;
    color: #fff;
  }
}
.selected {
    background-color: #fe5f1e;
    color: #fff;
}

.disabled {
  cursor: default;
  &:hover {
    background-color: #fff;
    color: #fe5f1e;;
  }
}